<app-custom-navegation-bar></app-custom-navegation-bar>
<div class="container">
  <div class="content">
    <div class="textIntroductionContainer">
      <h1>Review Gourmet</h1>
      <h4>
        O site com os reviews dos estabelecimentos alimenticios que você mais
        gosta
      </h4>
      <span class="searchContainer">
        <mat-form-field
          appearance="outline"
          class="matFormField"
          color="primary"
          SubscriptSizing="dynamic"
        >
          <mat-label>Busque um estabelecimento desejado</mat-label>
          <input matInput placeholder="Nome" />

          <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
        <span class="buttonContainer"
          ><button mat-raised-button color="primary">Buscar</button></span
        >
      </span>
    </div>
  </div>
</div>
<div class="sectionTwoContainer">
  <div class="sectionTwoTextContainer">
    <h1>Os Reviews dos restaurantes mais proximos na sua região</h1>
    <h4>
      Todos os estabelecimentos podem ser buscados e avaliados por você em
      qualquer região do pais
    </h4>
  </div>
</div>

<div class="sectionThreeContainer">
  <h1>Os Reviews dos restaurantes mais proximos na sua região</h1>
  <div class="sectionThreeContent">
    <div class="cardContainer">
      <app-small-card></app-small-card>
    </div>
  </div>
</div>
