$paleta-reviewgourmet: (
  50: #fdeeea,
  100: #fbd4cb,
  200: #f9b8a9,
  300: #f69b86,
  400: #f4856c,
  500: #f27052,
  600: #f0684b,
  700: #ee5d41,
  800: #ec5338,
  900: #e84128,
  A100: #ffffff,
  A200: #fff4f2,
  A400: #ffc6bf,
  A700: #ffb0a6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
